body {
  margin: 0;
  width: 1920px;
  height: 1080px;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 48px;
  font: bold 24px/31px 'pt_serifbold', arial, helvetica, sans-serif;
}
.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue {
  background: #0056EC;
}
.logo, .menu {
  display: inline-block;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 132px;
}
.menu__item {
  position: relative;
  margin-right: 23px;
  font: 500 18px/21px 'roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:last-child {
  margin-right: 10px;
}
.menu__item_active:after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}
.main {
  padding: 0 63% 250px 0;
  margin-left: 0;
  background: no-repeat right 9px top url(img/mainimg.svg);
  background-size: 50%;
}
.main__title {
  width: 600px;
  height: 252px;
  margin: 0 0 44px 0;
  padding-top: 13%;
  font: bold 66px/87px 'pt_serifbold', arial, helvetica, sans-serif;
}
.main__subtitle {
  width: 455px;
  height: 50px;
  margin: 0 0 44px 0;
  font: 400 22px/26px 'roboto', arial, helvetica, sans-serif;
}
.main__title-text_highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ECF3FF 15%);
}
.main__button {
  display: inline-block;
  font: 500 18px/21px 'roboto', arial, helvetica, sans-serif;
  color: #FFF;
  background: #0056EC;
  padding: 18px 17px 8px 12px;
  margin-left: 2px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
  width: 244px;
  height: 30px;
  text-align: center;
}
.main__button:hover {
  opacity: .5;
}
.image-content {
  width: 100%;
  margin-top:20px;
  display: flex;
  justify-content: center;
  }
  /*адаптация для 1366px*/

 @media (max-width: 1366px) {
   body {
     width: 1366px;
     height: 768px;
   }
   .wrapper {
     width: 68%;
   }
   .header {
     margin-bottom: 82px;
   }
   .logo {
     padding-left: 45px;
   }
   .menu__item {
     margin-right: 22px;
     padding-top: 7px;
     font: 500 14px/16px 'roboto', arial, helvetica, sans-serif;
   }
   .menu__item:last-child {
     margin-right: 4px;
   }
   .main {
     background-size: 55%;
     background: no-repeat right 3px top url(img/mainimg.svg);
   }
   .main__title {
     width: 434px;
     height: 195px;
     padding-top: 5%;
     font: bold 50px/66px 'pt_serifbold', arial, helvetica, sans-serif;
   }
   .main__subtitle {
     width: 367px;
     margin: 0 0 31px 0;
     font: 500 18px/21px 'roboto', arial, helvetica, sans-serif;
   }
   .main__button {
     width: 179px;
     height: 21px;
     font: 500 14px/16px 'roboto', arial, helvetica, sans-serif;
   }
   .image-content {
   }
 }
 /*адаптация для 1024px*/
 @media (max-width: 1024px) {
   body {
     width: 1024px;
     height: 768px;
   }
   .wrapper {
     width: 91%;
   }
   .header {
     margin-bottom: 85px;
   }
   .menu__item {
     margin-right: 22px;
     padding-top: 10px;
     }
   .menu__item:last-child {
     margin-right: 1px;
     }
   .main {
    background-size: 55%;
    padding: 0 63% 250px 0;
  }
   .main__title {
     margin-bottom: 45px;
     font: bold 50px/60px 'pt_serifbold', arial, helvetica, sans-serif;
   }
   .main__sibtitle{
    margin-bottom: 32px;
    font: 500 18px/21px 'roboto', arial, helvetica, sans-serif;
  }
  .main__button{
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    width: 179px;
    height: 17px;
  }
   }
    /*адаптация 375px*/
    @media (max-width: 375px) {
      body {
        width: 375px;
        height: 667px;
      }
      .menu {
        display: none;
      }
      .header {
        margin-bottom: 28px;
      }
      .logo {
        padding: 28px 0;
        font-size: 0;
      }
      .main {
        text-align: center;
        padding: 74% 0 0;
        background-size: 74%;
        background-position: top center;
      }
      .main__title {
        margin-bottom: 44px;
        font: bold 30px/39px 'pt_serif', arial, helvetica, sans-serif;
        width: 267px;
        height: 96px;
      }
      .main__subtitle {
        margin-bottom: 25px;
        font: 500 16px/19px 'roboto', arial, helvetica, sans-serif;
        text-align: center;
        width: 275px;
        height: 57px;
      }
      .main__button {
        font: 500 14px/16px 'roboto', arial, helvetica, sans-serif;
        width: 209px;
      }

    }
